.canvas {
    --background: #eeeeee;
    --pattern-color: #d8d8eb;

  background-color: var(--background);

  background-image: linear-gradient(var(--pattern-color) 4.4px, transparent 4.4px),
    linear-gradient(90deg, var(--pattern-color) 4.4px, transparent 4.4px),
    linear-gradient(var(--pattern-color) 2.2px, transparent 2.2px),
    linear-gradient(90deg, var(--pattern-color) 2.2px, var(--background) 2.2px);
  background-size: 110px 110px, 110px 110px, 22px 22px, 22px 22px;
  background-position: -4.4px -4.4px, -4.4px -4.4px, -2.2px -2.2px,
    -2.2px -2.2px;
}
